/**
 VERRUKKULLUK MAIN.CSS
**/

:root {

    /* FONTS */
    --heading: "pretty_lilyregular";

    /* COLORS */
    --dark-brown: #402214;
    --lighter-brown:  #774231;
    --lightest-brown: #aa4b1b;

    --darker-red: #b31714;
    --lighter-red: #dc3439;

    --kahki: #fff0d6;

    --darker-orange: #eb8d1f;
    --lighter-orange: #fca01f;

    --darker-green: #6e8722;
    --lighter-green: #95b82d;

    --white: #FFF;
    --black: #000;

}

/** HEADING **/
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading) !important;
}

h1 {
    font-size: 52px;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 32px;
}

h4 {
   font-size: 26px; 
}

h5 {
    font-size: 20px;
}

p {
    font-size: 12px;
    line-height: 13px;
}

label {
    font-size: 12px;
}

/** HTML / BODY **/
html, body {
    font-family: "Helvetica Neue", Arial, SansSerif;
    font-size: 16px;
}

/** CONTAINER **/

.container {

    padding-left: 50px;
    padding-right: 50px;

}

/** HEADER **/
header { 

    padding: 0px !important;
    height: 450px;
    
}

.recipe-img-header {

    height: 100%;
    width: 100%;

    object-fit: cover;

}

.carousel-item {
    max-height: 100%;
}

li::marker {
    font-size:0;
}

.logo {
    position: absolute;
    z-index: 1;
    top: 5%;
    left: 15%; 
    height: 20%;
}

/** CONTENT **/

.content { 

    height: 1100px;

    padding-left: 30px;
    padding-right: 30px;

}

.sidebar, .data {

    height: 1000px;

    display: flex;
    flex-direction: column;

}

/** AGENDA **/

.agenda {
    background-color: var(--lighter-green);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 600px;

}

#agenda-img {

    height: 80px;

}

.agenda p, h3 {

    width: 60%;

}


/** LOGIN **/

.login {
    background-color: var(--darker-red);
    color: #FFF;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    height: 300px;
    padding-left: 25px;
    padding-right: 25px;

}

#login-img {

    height: 80px;

}

#login-form {

    display: flex;
    flex-direction: column;
    align-items: center;
    
    width:  350px;

}

.form-group {

    margin-bottom: 25px;

}

.login-btn {

    background-color: var(--lighter-orange) !important;
    border-color: transparent !important;

    height: 40px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border: transparent;

}


/** RECIPE BLOCKS:HOMEPAGE AND DETAIL PAGE **/

.block {

    margin-top: 40px;

}

.recipe-txt {

    padding-left: 30px;
    padding-right: 30px;

}

#recipe-title {

    color: var(--darker-green);
    
}

.recipe-home p {

    line-height: 16px;

}

.shadow {

    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.23);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.23);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.23);

}

.recipe-btn {

    background-color: var(--lighter-red) !important;
    color: #FFF;
    text-decoration: none;
    cursor: pointer;

    border-radius: 35px 35px 35px 35px;
    -moz-border-radius: 35px 35px 35px 35px;
    -webkit-border-radius: 35px 35px 35px 35px;
    border: transparent;

    -webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.23);
    -moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.23);
    box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.23);

    height: 35px;
    width: 130px;
    display: flex;
    justify-content: center;

}

.recipe-btn h3 {

    font-size: 28px;

}

.recipe-icon {

    color: var(--lighter-red);

    display: inline-block;
    padding-left: 5px;

}

.price, .kcal {

    display: inline-block;
    margin-bottom: 0px;
    padding-left: 2px;

    font-size: 14px;

}

/** RECIPE BLOCKS: HOMEPAGE **/

.recipe-home {
    height: 450px;
    display: flex;
    flex-direction: column;

    margin-left: 30px;

}

.recipe-img {

    height: 175px;
    width: 100%;
    object-fit: cover;

}

.recipe-txt-and-bottom {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    flex-grow: 1.5;
    padding-top: 15px;
    padding-bottom: 15px;

}

.recipe-bottom {

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding-left: 30px;
    padding-right: 30px;

}

/** RECIPE BLOCKS: DETAIL PAGE **/

.recipe-detail-block {
    
    height: 450px;
    box-sizing: border-box;

}

#recipe-img-details {

    display: flex;
    
    height: 100%;

}

#recipe-img-side {

    height: 100%;
    width: 45%;

    object-fit: cover;

}

#recipe-details {

    height: 100%;
    width: 55%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

#tabs-695485 {

    border-radius: 20px 0px 0px 0px;
    -moz-border-radius: 20px 0px 0px 0px;
    -webkit-border-radius: 20px 0px 0px 0px;

}

.nav-link, .nav-link:hover, .nav-link.active {

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    color: var(--darker-green) !important;

    border-radius: 20px 20px 0px 0px !important;
    -moz-border-radius: 20px 20px 0px 0px !important;
    -webkit-border-radius: 20px 20px 0px 0px !important;

    -webkit-box-shadow: 2px 0px 3px 0px rgba(0,0,0,0.23);
    -moz-box-shadow: 2px 0px 3px 0px rgba(0,0,0,0.23);
    box-shadow: 2px 0px 3px 0px rgba(0,0,0,0.23);

    height: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 0px; 

}

.nav-link.active {

    -webkit-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.30);
    -moz-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.30);
    box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.30); 

}

.nav-link h4 {

    margin-bottom: 0px;

}

.tab-content {

    height: 100%;
    width: 60%;
}

/** FOOTER **/

footer {
    background-color: var(--darker-orange);
    color: #FFF;

    display: flex;
    align-items: start;

    height: 210px;
    padding: 50px;

}

#payoff {

    display: inline-block;
    height: 100px;

}

.contact {
    
    line-height: 13px;

}

.contact p {

    padding: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 50px;
}

#contact-header {

    display: inline-block;
    height: 80px;
    margin-left: 40px;

}






