/**
 VERRUKKULLUK MAIN.CSS
**/

:root {

    /* FONTS */
    --heading: "pretty_lilyregular";

    /* COLORS */
    --dark-brown: #402214;
    --lighter-brown:  #774231;
    --lightest-brown: #aa4b1b;

    --darker-red: #b31714;
    --lighter-red: #dc3439;

    --kahki: #fff0d6;

    --darker-orange: #eb8d1f;
    --lighter-orange: #fca01f;

    --darker-green: #6e8722;
    --lighter-green: #95b82d;

    --white: #FFF;
    --black: #000;

}

/** HEADING **/
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading) !important;

}

h1 {
    font-size: 52px;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 28px;
}

h4 {
   font-size: 26px; 
}

h5 {
    font-size: 20px;
}

.green {

    color: var(--darker-green);

}

/** HTML / BODY **/
html, body {
    
    font-family: "Helvetica Neue", Arial, SansSerif; 
    font-size: 11px;
    line-height: 12px;

}

/** IMAGES **/

img.cover {
    object-fit: cover;
}

img.heading {
    height: 60px;
}

/** CONTAINER **/

.container {
    padding: 0 50px;
}

/** HEADER **/
#header-row {
    margin: 0px;
}

header { 

    padding: 0px !important;
    height: 450px;

    position: relative;

}

.recipe-img-header {
    
    height: 100%;
    width: 100%;

}

.carousel-item {
    max-height: 100%;
}

.carousel-control-next {
    z-index: 0;
}

li::marker {
    font-size: 0;
}

#logo {

    position: absolute;
    z-index: 1;
    top: 5%;
    left: 5%; 
    height: 25%;

}

#navbar {

    position: absolute;
    right: 0px;
    z-index: 5;

    height: 200px;
    width: 30%;
    padding-top: 30px;
    padding-right: 20px;

}

#searchbar-container {

    height: 100%;
    width: 100%;

}

#searchbar {

    height: 15%;
    width: 100%;

    display: inline-block;

    background-color: #FFF;

    border-radius: 0px 10px 10px 0px;
    -moz-border-radius: 0px 10px 10px 0px; 
    -webkit-border-radius: 0px 10px 10px 0px; 
    border: 0px transparent;

}

#search-icon {

    height: 15%;
    width: 10%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #FFF;
    color: var(--darker-orange);
    font-size: 16px;
    
    border-radius: 10px 0px 0px 10px;
    -moz-border-radius: 10px 0px 0px 10px;
    -webkit-border-radius: 10px 0px 0px 10px; 
    border: 0px;

}

#suggestions {

    max-height: 75%;
    width: 95%;

    background-color: #FFF;

    border-radius: 0px 0px 10px 10px; 
    -moz-border-radius: 0px 0px 10px 10px; 
    -webkit-border-radius: 0px 0px 10px 10px; 
    border: 0px transparent;

}

#menu-btn {

    height: 15%;
    width: 25%;

    color: var(--darker-orange);
    font-size: 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

}

#dropdown {

    position: absolute;
    top: -100%;
    right: 0px;
    
    z-index: 10;
    
    height: 30%;
    width: 100%;

    background-color: #FFF;
    border: 1px solid black;

    transition: all 0.7s ease-out;

}

#menu-logo {
    height: 60%;
}

a.menu {

    color: var(--lighter-red);
    text-decoration: none;
    cursor: pointer;

}

h3.menu {
    width: 100%;
}

/** CONTENT **/

.content { 

    height: 900px;
    padding: 0px 30px;

}

.sidebar, .data {
    height: 800px;
}

/** AGENDA **/

.agenda {

    background-color: var(--lighter-green);

    justify-content: space-evenly;
    align-items: center;

    height: 500px;

}

.agenda p, h3 {
    width: 60%;
}


/** LOGIN **/

.login {

    background-color: var(--darker-red);
    color: #FFF;
    
    height: 225px;

}

#login-form {
    width: 100%;    
}

.form-group {

    margin-bottom: 25px;
    width: 80%;

}

.login-btn {

    background-color: var(--lighter-orange) !important;
    border-color: transparent !important;

    height: 30px;
    width: 150px;

    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border: transparent;

}


/** RECIPE BLOCKS:HOMEPAGE AND DETAIL PAGE **/

.block {
    margin-top: 40px;
}

.recipe-txt {
    padding: 0px 30px;
}

.recipe-home p {
    line-height: 16px;
}

.shadow {

    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.23);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.23);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.23);

}

.recipe-btn {

    background-color: var(--lighter-red);
    color: #FFF;
    text-decoration: none;
    cursor: pointer;

    border-radius: 35px 35px 35px 35px;
    -moz-border-radius: 35px 35px 35px 35px;
    -webkit-border-radius: 35px 35px 35px 35px;
    border: transparent;

    -webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.23);
    -moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.23);
    box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.23);

    height: 25px;
    width: 100px;
    display: flex;
    justify-content: center;

}

.recipe-icon {

    color: var(--lighter-red);

    display: inline-block;
    padding-left: 5px;

}

.icon-value {

    display: inline-block;
    margin-bottom: 0px;
    padding-left: 2px;

    font-size: 14px;

}

/** RECIPE BLOCKS: HOMEPAGE **/

.recipe-home {

    display: flex;
    flex-direction: column;

    height: 360px;
    margin-left: 30px;

}

.recipe-img {

    height: 150px;
    width: 100%;

}

.recipe-txt-and-bottom {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1.5;

    padding: 15px 0px;

}

.recipe-title-home {

    margin-bottom: 0px;

}

.recipe-bottom {

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 0px 30px;

}

/** RECIPE BLOCKS: DETAIL PAGE **/

.recipe-detail-block {
    
    height: 350px;
    margin-left: 30px;

}

#recipe-img-details {

    display: flex;
    height: 100%;

}

#recipe-img-side {

    height: 100%;
    width: 45%;

}

#recipe-details {

    height: 100%;
    width: 55%;
    padding: 15px 30px;

}

.recipe-title {

    margin-bottom: 0px;

}

#recipe-container {
    gap: 12px;
}

#recipe-info-icons {
    width: 100%;
}

.between {
    width: 100%;
}

#stars {

    height: 50%;

}

#rating {

    cursor: pointer;

}

.rating-star {

    color: var(--lighter-orange);
    cursor: pointer;

    padding-top: 10px;

}

.cuisine-type-title {

    display: inline-block;
    margin-bottom: 0px;

}

.cuisine-type {

    display: inline-block;
    margin: 0px 0px 0px 10px;

}

#shopping-favourite {
    width: 100%;
}

#favourite-btn {

    cursor: pointer;

}

#favourite-icon {
    font-size: 20px;
}

/** DETAIL NAVIGATION TABS: INGREDIENT, INSTRUCTION, COMMENTS**/

#tabs-695485 {

    border-radius: 20px 0px 0px 0px;
    -moz-border-radius: 20px 0px 0px 0px;
    -webkit-border-radius: 20px 0px 0px 0px;

}

.nav-link, .nav-link:hover, .nav-link.active {
    
    display: flex;
    flex-direction: column;
    justify-content: center;

    border-top-left-radius: 40px 25px !important;
    border-top-right-radius: 40px 25px !important;
    -moz-border-radius-top-left: 40px 25px !important;
    -webkit-border-radius-top-left: 40px 25px !important;

    -webkit-box-shadow: 2px 0px 3px 0px rgba(0,0,0,0.23);
    -moz-box-shadow: 2px 0px 3px 0px rgba(0,0,0,0.23);
    box-shadow: 2px 0px 3px 0px rgba(0,0,0,0.23);

    height: 20px;
    padding: 5px 25px 5px 25px;
    margin-bottom: 0px; 

}

.nav-link.active {

    -webkit-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.30);
    -moz-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.30);
    box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.30); 

}

.nav-link h4 {
    margin-bottom: 0px;
}

.tab-content {
    height: 330px;
}

.tab-pane {

    height: 100%;
    overflow-y: scroll;

}

.tab-img {

    height: 75px;
    width: 75px;
    margin-left: 30px;
    margin-top: 30px;

}

.tab-info {

    width: 50%;
    margin-left: 20px;
    margin-top: 30px;

}

/** INGREDIENTS **/

.amount {

    display: inline-block;

}

h5.amount {

    font-size: 16px;

}

/** INSTRUCTION **/

.step-circle {

    height: 50px;
    width: 50px;
    
    background-color: var(--lighter-orange);
    color: #FFF;

    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: transparent;

}

.instruction-number {

    font-size: 20px;
    font-weight: bold;
    margin: 0px 0px 0px 3px;

}

.instruction-text {
    margin-top: 40px;
    margin-left: 10px;
}

/** COMMENTS **/

.profile-pic {
    
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 3px solid var(--darker-orange);

}

/** GROCERY LIST **/

#grocerylist-block {

    margin-left: 30px;
    margin-top: 40px;
    height: 100%;
    padding: 30px 0px 30px 30px;
    box-sizing: border-box;

}

#cart-header {

    height: 5%;
    margin-bottom: 75px;

}

#cart-content {

    height: 65%;
    width: 100%;
    margin-bottom: 75px;

    overflow-y: scroll;

}

.cart-product {

    height: 100px;
    flex-shrink: 0;

}

.cart-product img {

    height: 100%;
    width: 13%;

    object-fit: contain;

}

.cart-txt {

    height: 100%;
    width: 40%;
    
    font-size: 13px;

}

.cart-numbers {

    height: 100%;
    width: 35%;
    margin-right: 30px;

    font-size: 14px;

}

.cart-qty {

    height: 40%;
    width: 22%;
    margin-bottom: 0px;

}

.qty-container {

    width: 100%;
    height: 50%;
    
    border: 1px solid #f0f0f0;

}

.qty-container-dummy {

    width: 100%;
    height: 50%;
    
}

.qty-container p {

    margin-bottom: 0px;

    color: var(--lighter-green);

}

.cart-price {

    height: 40%;
    width: 20%;
    margin-bottom: 0px;

}

.cart-price p {
    margin: 0px 0px 0px 5px;
}

.cart-icons {

    height: 40%;
    width: 25%;
    margin-bottom: 0px;

}

.cart-icon.cart-icon.fa-euro-sign {

    color: var(--lighter-red);
    font-size: 15px;

}

.cart-icon.fa-trash {

    color: var(--darker-red);

    font-size: 22px;

    cursor: pointer;

}

.cart-icon-dummy {

    color: white;

    font-size: 22px;

}

.cart-icon.fa-check {

    color: var(--darker-green);

    font-size: 22px;

}

#cart-footer {

    height: 5%;
    width: 97.8%;
    margin-top: 30px;

}

#cart-footer h2 {
    
    width: 13%;

    color: var(--darker-red);

}


/** FOOTER **/

footer {

    background-color: var(--darker-orange);
    color: #FFF;

    display: flex;
    align-items: start;

    height: 210px;
    padding: 50px;

}

#cart-txt-dummy {

    height: 100%;
    width: 40.5%;

}

#payoff {

    display: inline-block;
    height: 100px;

}

#contact p {

    padding: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 50px;
}

#contact-heading {

    display: inline-block;
    margin-left: 40px;

}






